body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

h2 {
    color: #333;
}

form {
    text-align: left;
    margin-left: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 89%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.modal-buttons {
    margin-top: 20px;
}

.agregar-button,
.cerrar-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.agregar-button:hover,
.cerrar-button:hover {
    background-color: #0056b3;
}
